:root {
  /* Primary Colors */
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

p{
    font-size: 16px;
    color: var(--dark-grayish-blue);
}

.notefication-card{
    padding: 20px;
}

/*start card header*/
.notefication-card .header{
    display: flex;
    justify-content: space-between;
}

.notefication-card .header .title p{
    font-weight: bold ;
    font-size: 18px;
    color: var(--very-dark-grayish-blue);
}

.notefication-card .header .title span{
    color: var(--white);
    background-color: var(--blue);
    padding: 2px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 5px;
}

/*end card header*/


.boxes .box{
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.boxes .box .left img{
    height: 45px;
    margin-right: 10px;
}

.boxes .box .right .name{
    color: var(--very-dark-blue);
    font-weight: bold;
}

.boxes .box .right .post-name{
    color: var(--dark-grayish-blue);
    font-weight: bold;
}

.boxes .box .right .group-name{
    color: var(--blue);
    font-weight: bold;
}

.boxes .box .right p span.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--red);
    margin-left: 5px;
}

.boxes .box .right .time{
    margin-top: 5px;
}

.boxes .box.un-readed{
    background-color: var(--very-light-grayish-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
